.intro {
    height: 100vh;
    background-image: url(../assets/imagess/bg/main.webp);
    background-attachment: fixed;
    background-size: cover;
}
.trending {
    background-image: url(../assets/imagess/bg/spiderman.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.superhero {
    background-image: url(../assets/imagess/bg/romance.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.footer {
    background-color: rgba(43, 30, 30, 0.374);
    background-attachment: fixed;
    background-size: cover;
    height: 90px;
    padding-top: 20px;
    
    
}
 .tombol{
   position: fixed;
   bottom: 10px;
   right: 10px;
 }

